﻿@model PurchaseOrder

<h4>PurchaseOrder</h4>
<hr />
<div class="row">
    <div class="col-12">
         <p class="text-right">
               <a class="btn btn-primary" asp-controller="LineItems" asp-action="Create">New Item</a>
         </p>

        <p class="text-center text-danger">
            An order should have 1 item at least.
        </p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
