﻿@model PurchaseOrder

<h4>PurchaseOrder</h4>
<hr />
<div class="row">

    <div class="col-6">
        <div class="row">
            <div class="col-4">
                @Html.DisplayNameFor(modelItem => modelItem.Name)
            </div>
            <div class="col-8">
                @Html.DisplayFor(modelItem => modelItem.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                @Html.DisplayNameFor(modelItem => modelItem.total)
            </div>
            <div class="col-8">
                @Html.DisplayFor(modelItem => modelItem.total)
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                @Html.DisplayNameFor(modelItem => modelItem.CreationDateTime)
            </div>
            <div class="col-8">
                @Html.DisplayFor(modelItem => modelItem.CreationDateTime)
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <p class="text-right">
            @if (Model.LineItems.Count < 10 && Model.Status == 0)
            {
                <a class="btn btn-primary" asp-controller="LineItems" asp-action="Create" asp-route-orderId="@Model.ID">New Item</a>
            }
        </p>
        <p>
            @(Model.LineItems.Count)/10

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LineItems != null)
                {
                    @foreach (var item in Model.LineItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @if (Model.Status == 0) {
                                <a asp-controller="LineItems" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @if (Model.Status == 0)
        {
            <form asp-action="Submit" asp-controller="PurchaseOrder" asp-route-id="@Model.ID">
                <p class="text-right">
                    <button class="btn btn-primary">Submit</button>
                </p>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
