﻿@model IEnumerable<PurchaseOrder>

@if (ViewBag.todayOrderCount < 10)
{
    <p class="text-right">
        <a class="btn btn-primary" asp-action="Create">New Order</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @(item.Status == 0 ? "Pending" : "Submitted")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDateTime)
                    </td>
                    <td>
                        @item.total
                    </td>
                    <td>
                        @if (item.Status == 0)
                        {
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </p>
                        }
                        else
                        {
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.ID">Detail</a>
                            </p>
                        }
                    </td>
                </tr>
            }
        }
        else {
            <p>No Order</p>
        }

    </tbody>
</table>
